*.pbix
/devicecodetoken.bin

pbitoken.bin

pbitoken*.bin

/Data*

GraphAppSecret.txt

ServicePrincipal.json

/backup

/Share

/Config - *.json

*.pbix
/debug.log

*/data/*

/Publish

Test -*.ps1

local.settings*

*.docx

/Dataflow

/DatasetStats
GatewayInfo.json
GatewayProperties.txt
Logs.lnk
Run-Local.ps1
Diagrams.pptx
~$Diagrams.pptx
Tools - GetGateways.ps1
Tools - ListGateways.ps1
state.json
Run.cmd
